@font-face {
  font-family: Tree;
  src: url(Tree.ttf);
}


body{ background-color: black;
	background: url('images/Tree.png') no-repeat center center fixed;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	
}

.name{
	font-family: Tree;
	font-size: 130px;
	text-align: center;
	color: white;
}

.octocat{
	position: absolute;
	top: 45%;
	left: 54%;
	height: 150px;
	width: 150px;
}

.linkedin{
	position: absolute;
	top: 42%;
	left: 23%;
	height: 150px;
	width: 150px;
}

.blog{
	position: absolute;
	
	top: 55%;
	right: 10%;
	margin-left: 20px;
	margin-right: 20px;

	height: 147px;
	width: 147px;
}