

body{ background-color: white;
	background: url('images/Books.png') no-repeat center center fixed;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	
}

